[submodule "themes/hugo-theme-zozo"]
	path = themes/hugo-theme-zozo
	url = https://github.com/varkai/hugo-theme-zozo
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/anankegit"]
	path = themes/anankegit
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/zozo"]
	path = themes/zozo
	url = https://github.com/varkai/hugo-theme-zozo
